<body>
    <main class="main">
        <article class="homeButtonContainer">
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <img [src]="home" alt="" class="home">
                </a>
        </article>
        <article class="infoContainer">


                <div class="styleContainerImg">
                    <div class="imgContainer">
                        <img [src]="selfie" alt="" class="selfie">
                    </div>
                </div>

            <article class="textContainer">
                <div class="textAboutMe">
                    <p class="textAboutMeP">
                        En 26 årig Uppsalabo som äntligen vet vad han vill göra när han blir
                        stor! Pluggar just nu Front End Developer programmet på
                        <a href="https://medieinstitutet.se/utbildningar/front-end-developer/">Medieinstitutet</a>. För att veta mer om mig och vad jag har gjort kan ni ladda ner mitt
                        CV <a href="assets/Magnus-Vahlstrom-cv.pdf" download="assets/Magnus-Vahlstrom-cv.pdf">här!</a>.
                    </p><br>
                    <p class="extraTextAboutMe">
                        En av mina stora intressen är personlig utveckling som och jobba med människor. Vilket jag har fått turen med på mina tidigare jobb. Bland annat på Akademiska sjukhuset och det jag gör nu på Uppsala kommunen. Där jag jobbar som kontaktperson till
                        ungdomar och barn som har det tufft hemma.Utmanade ibland men väldigt givande. I gymnasiet gick jag på Jensen där jag pluggade ekonomi. Kände inte att jag vill fortsätta på det spåret tog några år efter studenten testade lite olika saker. Tog webbutveckling 1 bara för att testa på som sedan blev webbutveckling 2 och efter det programmering 1 och nu är jag här.   
                    </p>
                </div>
            </article>
        </article>
    </main>
</body>
<app-skills></app-skills>