@media screen and (max-width:320px) {
    .infoContainer{
        width: 90%;
        height: 80vh;
        background-color: #c4c4c466;
        position: relative;
        top: 100px;
        border-radius: 10px;
        bottom: 10px;
    }
    .extraTextAboutMe{
        display: none;
    }
    .styleContainerImg{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .extraTextContainerAboutMe{
        display: none;
    }

    .imgContainer{
        background-color: white;
        width: 200px;
        clip-path: circle();
        position: relative;
        bottom: 95px;
        height: 200px;
        border: 0px solid black;
        background-position: center;
    }
    .selfie{
        position: relative;
        width: 160px;
        right: -18px;
    }
    .textContainer{
        text-align: center;
        width: auto;
        top: 10px;
        position: relative;
        display: flex;
        justify-content: center;
    }
.textAboutMe{
width: 80%;
}

}
@media screen and (min-width:321px) {
    .infoContainer{
        width: 90%;
        height: 70vh;
        background-color: #c4c4c466;
        position: relative;
        top: 100px;
        border-radius: 10px;
        bottom: 10px;
    }
    .styleContainerImg{
        // background-color: red;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .extraTextAboutMe{
        display: none;
    }
    .extraTextContainerAboutMe{
        display: none;
    }
    .imgContainer{
        background-color: white;
        width: 200px;
        clip-path: circle();
        position: relative;
        bottom: 95px;
        height: 200px;
        border: 0px solid black;
        background-position: center;
    }
    .selfie{
        position: relative;
        width: 160px;
        right: -18px;
    }
.textContainer{
    text-align: center;
    width: auto;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.textAboutMe{
width: 80%;
}

}
@media screen and (min-width:375px) {
    .infoContainer{
        width: 90%;
        height: 70vh;
        background-color: #c4c4c466;
        position: relative;
        top: 100px;
        border-radius: 10px;
        bottom: 10px;
    }

    .imgContainer{
        background-color: white;
        width: 200px;
        clip-path: circle();
        position: relative;
        bottom: 95px;
        height: 200px;
        border: 0px solid black;
        background-position: center;
    }
    .selfie{
        position: relative;
        width: 160px;
        right: -18px;
    }



.extraTextContainerAboutMe{
    display: none;
}

.textContainer{
    text-align: center;
    width: auto;
    top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.textAboutMe{
    width: 90%;
    top: 100px;
}

p{
    font-size: 1.2rem;
}
}
@media screen and (min-width:425px) {

}
@media screen and (min-width:480px) {
    p{
        font-size: 1.3rem;
    }
    .styleContainerImg{
        // background-color: red;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .textContainer{
        text-align: center;
        width: auto;
        top: 18px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .textAboutMe{
        width: 90%;
        top: 100px;
        }
}
@media screen and (min-width:600px) {
    .infoContainer{
        width: 90%;
        height: 80vh;
        background-color: #c4c4c466;
        position: relative;
        top: 90px;
        border-radius: 10px;
        bottom: 10px;
    }
    .styleContainerImg{
        // background-color: red;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .imgContainer{
        background-color: white;
        width: 200px;
        clip-path: circle();
        position: relative;
        bottom: 85px;
        height: 200px;
        border: 0px solid black;
        background-position: center;
    }
    .selfie{
        position: relative;
        width: 160px;
        right: -18px;
    }
    .textContainer{
        text-align: center;
        width: auto;
        top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .textAboutMe{
        position: relative;
        top: 15px;
    }

    p{
        font-size: 1.5rem;
    }

}
@media screen and (min-width:768px) {
    
}
@media screen and (min-width:900px) {
    
}
@media screen and (min-width:1024px) {
    
}
@media screen and (min-width:1200px) {

    .textContainer{
        top: 160px;
    }

    .imgContainer {
        background-color: white;
        width: 222px;
        clip-path: circle();
        position: relative;
        bottom: 85px;
        height: 210px;
        border: 0px solid black;
        background-position: center;
    }
    .styleContainerImg{
        // background-color: red;
        height: 154px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .selfie{
        position: relative;
        width: 160px;
        right: -30px;
    }
    .extraTextAboutMe {
        display: inline;
        position: relative;
        right: 287px;
        bottom: 120px;
    }
    .textContainer{
        top: 0px;
        left: 80px;
    }
    .textAboutMe{
        position: relative;
        top: -12px;
        left: 205px;
        width: 173%;
    }
    .textAboutMeP{
        position: relative;
        width: 818px;
        right: 50px;
        bottom: 136px;
    }

    .extraTextContainerAboutMe{
        display: block;
    }
}
@media screen and (min-width:1400px) {
    .textAboutMeP{
        position: relative;
        width: 83%;
        right: 50px;
        bottom: 136px;
    }

    p{
        font-size: 1.8rem;
    }

}
.main{
    display: flex;
    justify-content: center;
    background-image: url('/assets/backgroundMedium.png');    
    background-position: right 30px ;
    height: 100vh;

}
p{
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.home{
    height: 2rem;
    position:absolute;
    top: 10px;
    right: 10px;
}
