<body>
    <main class="main">
        <section class="container">
            <article class="headingFirst">
                <h1>Lärt mig</h1>
            </article>
            <article class="line1">
                <img [src]="html5SVG" alt="">
                <img [src]="css3SVG" alt="">
                <img [src]="gitSVG" alt="">
                <img [src]="typescriptSVG" alt="">
            </article>
            <article class="line2">
            <img [src]="angularSVG" alt="">
            <img [src]="bootstrapSVG" class="bootstrap" alt="">
            <img [src]="javascriptSVG" alt="">
            <img [src]="githubSVG" alt="">
            </article>  
            <article class="line3">
                <img [src]="wordpressSVG" alt="">
                <img [src]="figmaSVG" alt="">
                <img [src]="photopeaSVG" alt="">
                <img [src]="sassSVG" alt="">
            </article>
            <article class="headingSecond">
                <h1>Kommande</h1>
            </article>
            <article class="line4">
                <img [src]="nodeJsSVG" alt="">
                <img [src]="linuxSVG" alt="">
                <img [src]="reactSVG" alt="">
                <img [src]="photoshopSVG" alt="">
            </article>
            <article class="centerLastLine">
                <article class="line5">
                    <img [src]="inkscapeSVG" alt="">
                    <img [src]="raspberryPi" alt="">
                    <img [src]="kali" alt="">
                </article>
            </article>
        </section>
    </main>
</body>
